<head>
 <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <title>updateme-2.0</title>
  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
</head>

<body>
<div ng-app="update-me" angular-multi-select-mouse-trap angular-multi-select-key-trap ng-controller="Main">
    
    <div ui-view="login"></div>
    <div ui-view="register"></div>
    <div ui-view="others"></div>
    <div ng-show="user" id="wrapper">
       <section class="vbox">

        <nav class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow navbar navbar-default navbar-fixed-top" >
            <div class="navbar-header aside-md dk">
              <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                <i class="fa fa-bars"></i>
              </a>
              
              <a href="/#/" class="navbar-brand">
                <span class="hidden-nav-xs">Update Me!</span>
              </a>

              <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target="user">
                <i class="fa fa-cog"></i>
              </a>

            </div>
          
            
            <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
                  
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                      <span class="thumb-sm avatar pull-left">
                       <!--  <img src="images/a0.png" alt="..."> -->
                      </span>
                      {{user}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">            
                      <li>
                        <a href="/#/profile">Profile</a>
                      </li>
                      <li>
                        <a ng-click="logout();">Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>  

        </nav>

        <section>
          <section class="hbox stretch">
            <!-- .aside -->
            <aside class="bg-black aside-md hidden-print" id="nav" style="position: fixed">          
              <section class="vbox">
                <section class="w-f scrollable">
                  <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                    <nav class="nav-primary hidden-xs">
                      <ul class="nav nav-main" data-ride="collapse">
                        <li><a href="/#/">Home</a></li>
                        <li ng-class="{'active': active1==true}" ng-click="active1 =! active1" ng-init="active1=false">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts <span class="caret pull-right"></span></a>
                          <ul class="nav dk">
                            <li><a href="/#/posts">All Posts</a></li>
                            <li><a href="/#/post/create">Add Post</a></li>
                          </ul>
                        </li>

                        <li ng-show="canManageGroup" ng-class="{'active': active2==true}" ng-click="active2 =! active2" ng-init="active2=false">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret pull-right"></span></a>
                          <ul class="nav dk">
                            <li><a href="/#/groups">All Groups</a></li>
                            <li><a href="/#/group/create">Add Groups</a></li>
                          </ul>
                        </li>

                        <li><a href="/#/groups/favourite">Favourites</a></li>

                      
                    </nav>
                    <!-- / nav -->
                  </div>
                </section>
                
             
              </section>
            </aside>
            <!-- /.aside -->
            <section id="content" class="col-lg-10 col-sm-12">
              <div ui-view class="col-lg-12 main-view">
              </div>
              
            </section>
          </section>
        </section>
      </section>

    </div>
    
</div>
</body>