<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Groups
                <a class="btn btn-default btn-xs pull-right" herf="/#/organization/{{org_id}}/group/create">Add<i class="fa fa-plus"></i></a>
            </h1>
            
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
        	<table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Private</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grp in groups" ng-show="class(grp)">
                        <td>{{grp._id}}</td>
                        <td>{{grp.name}}</td>
                        <td>{{grp.options.isPrivate}}</td>
                        <td><button type="button" class="btn btn-primary" ng-click="addGroup(grp)">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
