<div class="col-lg-4">
	<section class="panel portlet-item panel-default">
		<header class="panel-heading">
		  
		<input type="checkbox" ng-model="filter.options.isEvent" ng-change="eventFilter()"> Events
		<input type="checkbox" ng-model="filter.options.hasDeadline" ng-change="deadlineFilter()"> Deadline
       	<input type="text" ng-model="keywordfilter" class="pull-right" placeholder="Search">
      	  
		</header>

		<!-- All Posts -->
		<ul class="list-group alt">
			<li class="list-group-item" ng-repeat="post in posts | orderBy:'-created_at' | filter:filter | filter:keywordfilter">
		    	<div class="media">
		      		<div class="pull-right  m-t-sm">
		        		<i class="fa fa-circle text-success" ng-show="post.options.isEvent"></i>
		        		<i class="fa fa-circle text-danger" ng-show="post.options.hasDeadline"></i>
		      		</div>
		      		<div class="media-body">
		        		<div><a data-toggle="modal" data-target="#main_{{post._id}}" ng-click="postOpen(post._id, 'main')">{{post.title}}</a></div>
		        		<small class="text-muted"><span data-livestamp="{{post.created_at/1000}}"></span></small>
		      		</div>
		    	</div>

		    	<ng-include src="'client/templates/partials/modal.html'" ng-init="type='main'"></ng-include>

		  	</li>
		</ul>
	</section>
</div>

<div class="col-lg-4">

	<div ng-show="favourites.length==0" class="text-center">
		You do not have any groups added to your favourites.<br><br>
		<a class="btn btn-primary" href="/#/groups/favourite">Add Favourites</a>
	</div>

	<div ng-repeat="fav in favourites" ng-init="groupPost = getGroupPost(fav)" >
		<section ng-if="groupPost != false" class="panel portlet-item panel-default">
			<header class="panel-heading">
				<h3 class="panel-title">{{getGroupName(fav).name}}</h3>
			</header>

			<div ng-show="!groupPost">
				There are no posts to show right now.
			</div>

			<ul class="list-group alt">
			  	<li ng-init="filter.group._id = fav" ng-repeat="post in groupPost | orderBy:'-created_at'" class="list-group-item">
				    <div class="media">
				      	<div class="pull-right m-t-sm">
				        	<i class="fa fa-circle text-success" ng-show="post.options.isEvent"></i>
				        	<i class="fa fa-circle text-danger" ng-show="post.options.hasDeadline"></i>
				      	</div>
				      	
				      	<div class="media-body">
				        	<div>
				        		<div ng-if="post.options.isEvent || post.options.hasDeadline" class="pull-right media-xs text-center text-muted"> 
				        			<span ng-if="post.options.isEvent">
			              				<strong class="h4">{{post.start_time | date:'h:mm'}}</strong><br> 
			              				<small class="label bg-light">{{post.start_time | date:'a'}}</small><br>
			              				<small>{{post.start_time | date:'EEE, d MMM'}}</small>
			              			</span> 

			              			<span ng-if="post.options.hasDeadline">
				      					
			              				<strong class="h4">{{post.deadline | date:'h:mm'}}</strong><br> 
			              				<small class="label bg-light">{{post.deadline | date:'a'}}</small><br>
			              				<small>{{post.deadline | date:'EEE, d MMM'}}</small>
			              			</span> 

			            		</div>
				        		<a data-toggle="modal" data-target="#{{fav}}_{{post._id}}" class="text-left" ng-click="postOpen(post._id, 'favourites')">{{post.title}}</a>
				        	</div>
				      	</div>
			    	</div>

				    <ng-include src="'client/templates/partials/modal.html'" ng-init="type=fav"></ng-include>
			 	</li>
			</ul>
		</section>
	</div>
</div>

<div class="col-lg-4">
          
    <section class="panel portlet-item panel-default">
      
	    <header class="panel-heading">
		    <h3 class="panel-title ng-binding">Today Events</h3>
		</header>

		<div ng-show="!todayEvents">No events today</div>
	    <ul class="list-group alt">
	        <li class="list-group-item" ng-repeat="post in todayEvents | orderBy:'-start_time'">
	          	<div class="media">
	            	<div class="pull-right media-xs text-center text-muted"> 
	              		<span ng-if="post.options.isEvent">
              				<strong class="h4">{{post.start_time | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.start_time | date:'a'}}</small><br>
              				<!-- <small>{{post.start_time | date:'EEE'}}</small> -->
              			</span> 

              			<span ng-if="post.options.hasDeadline">
              				<strong class="h4">{{post.deadline | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.deadline | date:'a'}}</small><br>
              				<small>{{post.deadline | date:'EEE, d MMM'}}</small>
              			</span>

	            	</div>

	            	<div class="media-body">
	              		<div>
	                		<a data-toggle="modal" data-target="#today_events_{{post._id}}" ng-click="postOpen(post._id, 'events')">{{post.title}}</a> <span ng-show="post.venue">@</span> {{post.venue}}
	                		<span class="pull-right text-success group-name" ng-if="isNowEvent(post)">Live</span>
	              		</div>
	            	</div>
	          	</div>

	          	<ng-include src="'client/templates/partials/modal.html'" ng-init="type='today_events'"></ng-include>
	          
	          	
	        </li>
	    </ul>
	</section>

	<section class="panel portlet-item panel-default">
      
      	<header class="panel-heading">
        	<h3 class="panel-title ng-binding">Upcoming Events</h3>
      	</header>

      	<div ng-if="!tomorrowEvent">No events in future.</div>
      	<ul class="list-group alt">

        	<li class="list-group-item" ng-repeat="post in upcomingEvents | orderBy:'-created_at'">
          		<div class="media">
            		<div class="pull-right media-xs text-center text-muted"> 

            			<span ng-if="post.options.isEvent">
              				<strong class="h4">{{post.start_time | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.start_time | date:'a'}}</small><br>
              				<small>{{post.start_time | date:'EEE, d MMM'}}</small>
              			</span> 

              			<span ng-if="post.options.hasDeadline">
              				<strong class="h4">{{post.deadline | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.deadline | date:'a'}}</small><br>
              				<small>{{post.deadline | date:'EEE, d MMM'}}</small>
              			</span>

            		</div>
            	<div class="media-body">
              
	              	<div>
	                	<a data-toggle="modal" data-target="#tom_events_{{post._id}}" ng-click="postOpen(post._id, 'events')">{{post.title}}</a> <span ng-show="post.venue">@</span> {{post.venue}}
	              	</div>
            	</div>
          	</div>
          
          	<!-- modal -->
          	<ng-include src="'client/templates/partials/modal.html'" ng-init="type='tom_events'"></ng-include>
        </li>
      </ul>
    </section>

    <section class="panel portlet-item panel-default">
      
	    <header class="panel-heading">
		    <h3 class="panel-title ng-binding">Deadlines</h3>
		</header>

		
	    <ul class="list-group alt">
	        <li class="list-group-item" ng-repeat="post in deadlinePost | orderBy:'-deadline'">
	          	<div class="media">
	            	<div class="pull-right media-xs text-center text-muted"> 
	              		<span ng-if="post.options.isEvent">
              				<strong class="h4">{{post.start_time | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.start_time | date:'a'}}</small><br>
              			</span> 

              			<span ng-if="post.options.hasDeadline">
              				<strong class="h4">{{post.deadline | date:'h:mm'}}</strong><br> 
              				<small class="label bg-light">{{post.deadline | date:'a'}}</small><br>
              				<small>{{post.deadline | date:'EEE, d MMM'}}</small>
              			</span>
              			
	            	</div>

	            	<div class="media-body">
	              		<div>
	                		<a data-toggle="modal" data-target="#deadlinePost_{{post._id}}" ng-click="postOpen(post._id, 'deadline')">{{post.title}}</a> <span ng-show="post.venue">@</span> {{post.venue}}
	                		<span class="pull-right text-success group-name" ng-if="isNowEvent(post)">Live</span>
	              		</div>
	            	</div>
	          	</div>

	          	<ng-include src="'client/templates/partials/modal.html'" ng-init="type='deadlinePost'"></ng-include>
	          
	          	
	        </li>
	    </ul>
	</section>

</div>