<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Update Me</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" ng-show="ifUser()">
            <!-- <li ng-show="{{currentUser}}" ng-click="logout()">Logout</li> -->
            <span>Welcome, {{currentUser}}</span>
            <button ng-click="logout();">Logout</button>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu" ng-show="currentUser">
                    <!-- <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    
                    </li> -->
                    <!-- <li ng-repeat="grp in groups">
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i>{{grp.name}}</a>
                    </li> -->
                    <li><a href="/#/home">Home</a></li>
                    <li><a href="/#/posts">Posts</a></li>
                    <li><a href="/#/post/create">Add Post</a></li>
                    <li><a href="/#/organization/rPhfkAqMeQ6SEw7rn/groups">Groups</a></li>
                    <li><a href="/#/organization/rPhfkAqMeQ6SEw7rn/group/create">Add Group</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>