<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Reset Password
            </h1>
        </div>
        <div class="col-lg-12">
        	<form>
        		<div class="form-group">
        			<input type="password" placeholder="Password" class="form-control" ng-model="password">
                    <input type="email" placeholder="Email" class="form-control" ng-model="token">
        		</div>
        		<button class="btn btn-default" ng-click="passwordReset(password);">Change Password</button>
        	</form>
        </div>
    </div>
</div>